@import "../styles/Basics";

.explainer {
  height: 100%;
  background: $marbleGradient;
  position: relative;
  width: max-content;

  &-background {
    height: 100%;
  }

  &-end {
    width: 70dvw;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
  }

  &-start {
    width: 70dvw;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
  }
}
