@import "Site";

.wow-art-gallery {
  height: 100%;
  position: relative;

  &-background {
    height: 100%;
    width: h(434);
  }

  &-iwant-my-gallery {
    position: absolute;
    top: h(69);
    left: h(6);
    width: h(30);
    height: h(7);
    z-index: 10;

    img {
      width: 100%;
    }

    &-popup-buttons {
      display: flex;
      margin: 2em;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-twitter {
    position: absolute;
    top: 54%;
    left: 18vh;
    width: 7vh;
    z-index: 10;

    img {
      width: 100%;
    }
  }

  &-medium {
    position: absolute;
    top: 54%;
    left: 27vh;
    width: 7vh;
    z-index: 10;

    img {
      width: 100%;
    }
  }
}
