@import "Site";

.gallery {
  height: 100%;
  position: relative;
  width: max-content;
  display: flex;

  &-background {
    &-#{1} {

    }

    &-#{2} {
      margin-left: -2%;
    }

    &-#{3} {
      margin-left: -2%;
    }

    height: 100%;
  }

  &-objects {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 95%;
    width: 100%;
  }

  &-object {
    width: 100px;
    height: 100px;

    img {
      max-height: 200%;
    }
  }

  &-section {
    position: absolute;
    width: 100dvw;
    height: 100%;
    top: 0;
    transform: translateX(-50%);

    &-start {
      left: 0;
    }

    &-finish {
      right: 0;
      transform: translateX(50%);
    }

    &-#{1} {
      left: 7.5%;
    }

    &-#{2} {
      left: 17.5%;
    }

    &-#{3} {
      left: 27.5%;
    }

    &-#{4} {
      left: 40.5%;
    }

    &-#{5} {
      left: 50.25%;
    }

    &-#{6} {
      left: 60%;
    }

    &-#{7} {
      left: 72.5%;
    }

    &-#{8} {
      left: 82.75%;
    }

    &-#{9} {
      left: 93%;
    }
  }

  &-ceil {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    > div {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &-light {
      top: 0;
      height: 15%;
      margin-left: 2.5%;
    }
  }
}
