@import "Site";

.wow-art-galleries-preview {
  height: h(100);
  position: relative;
  overflow-y: hidden;

  &-background {
    height: 100%;
    width: h(434);
  }

  &-iwant-my-gallery {
    position: absolute;
    top: h(69);
    left: w(10);
    width: w(80);
    height: h(10);
    z-index: 10;

    img {
      width: 100%;
    }
  }

  &-twitter {
    position: absolute;
    top: 54%;
    left: 18vh;
    width: 7vh;
    z-index: 10;

    img {
      width: 100%;
    }
  }

  &-medium {
    position: absolute;
    top: 54%;
    left: 27vh;
    width: 7vh;
    z-index: 10;

    img {
      width: 100%;
    }
  }
}
