@import "../styles/Basics";


.screen {
  height: 100dvh;
  width: 100dvw;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: contain;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-content {
    height: 100%;
    background: $marbleGradient;
    position: relative;
    width: max-content;
    overflow: hidden;
  }

  &-controls {
    width: 70dvw;
    height: 100%;
    top: 0;
    position: absolute;


    img {
      position: absolute;
      height: 100%;
    }
  }

  &-end {
    right: 0;

    img {
      right: 0;
      transform: translateX(39%);
    }
  }

  &-start {
    left: 0;

    img {
      left: 0;
      transform: translateX(-39%);
    }
  }
}
