.scroll-container {
  height: 100dvh;
  width: 100dvw;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}

.scroller {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  width: max-content;
}


