@font-face {
    font-family: 'Horizon Elementsfour';
    src: url('/public/fonts/horizon/HorizonElementsfour.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonElementsfour.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Outline';
    src: url('/public/fonts/horizon/HorizonOutline.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Linestwo';
    src: url('/public/fonts/horizon/HorizonLinestwo.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonLinestwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elements';
    src: url('/public/fonts/horizon/HorizonElements.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonElements.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elementsthree';
    src: url('/public/fonts/horizon/HorizonElementsthree.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonElementsthree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon';
    src: url('/public/fonts/horizon/HorizonRegular.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elementstwo';
    src: url('/public/fonts/horizon/HorizonElementstwo.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonElementstwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Outlinetwo';
    src: url('/public/fonts/horizon/HorizonOutlinetwo.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonOutlinetwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Lines';
    src: url('/public/fonts/horizon/HorizonLines.woff2') format('woff2'),
        url('/public/fonts/horizon/HorizonLines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

