@import "PoolsPopup";

.pools {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.pools-buttons:hover {
  img {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
  }
}

.pools-landscape {
  .pools-background {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
  }

  .pools-pepe {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 15%;
    height: 25%;
    transform: translateX(-41%);
    width: 250px;
  }

  //.pools-background-line {
  //  z-index: 2;
  //  content:'';
  //  color:#fff;
  //  position: absolute;
  //  display: block;
  //  left: 50%;
  //  top: 0;
  //  width: 3%;
  //  height: 100%;
  //  animation: slide 1s infinite;
  //  background: linear-gradient(to right, rgba(255,255,255,0) 45%, rgba(255, 255, 255, 1) 50%,  rgba(255,255,255,0) 55%,rgba(125,185,232,0) 100%);
  //  @keyframes slide {
  //    0% {transform:translateX(-3000%);}
  //    100% {transform:translateX(3000%)}
  //  }
  //}

  .pools-buttons {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    height: 11.3%;

    img {
      height: 100%;
    }

    &.pools-buttons-mint {
      top: 35.61%;
    }

    &.pools-buttons-game {
      top: 48.2%;
    }

    &.pools-buttons-wow-gurt {
      top: 70.5%;
      height: 12.9%;
    }

    &.pools-buttons-made-by {
      top: 85.5%;
    }
  }
}


.pools-buttons-b {
  background: none;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}

.pools-portrait {
  .pools-background {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .pools-buttons {
    position: absolute;
    z-index: 1;
    left: 50%;
    height: 7%;
    transform: translateX(-50%);

    img {
      height: 100%;
    }

    &.pools-buttons-mint {
      top: 35.61%;
    }

    &.pools-buttons-game {
      top: 43.2%;
    }

    &.pools-buttons-wow-gurt {
      top: 70.5%;
      height: 8.2%;
    }

    &.pools-buttons-made-by {
      top: 89.5%;
      width: 100%;

      img {
        width: 100%;
        height: initial;
      }
    }
  }
}
