@import "../../styles/Basics";

.just-glitch-preset-4 {
  .just-glitch-img-1 {
    margin: 0;
    line-height: 0;
    z-index: 5;
  }

  .just-glitch-img-2 {
    margin-top: var(--image-pos-top-big);
    margin-left: var(--image-pos-top-big);
    animation: glitch-preset-4-1 calc(var(--animation-length)) infinite ease-in;
    z-index: 10;
  }

  .just-glitch-img-3 {
    margin-top: var(--image-pos-bottom-big);
    margin-left: var(--image-pos-right-big);
    animation: glitch-preset-4-2 calc(var(--animation-length)/2) infinite ease-out;
    filter: invert(1);
    z-index: 10;
  }
}
@keyframes glitch-preset-4-1 {
  0% {
    clip-path: inset(50% 0 50% 0);
  }
  25% {
    clip-path: inset(0 50% 0 50%);
  }
  50% {
    clip-path: inset(50% 0 50% 0);
  }
  75% {
    clip-path: inset(0 50% 0 50%);
  }
  100% {
    clip-path: inset(50% 0 50% 0);
  }
}

@keyframes glitch-preset-4-2 {
  0% {
    clip-path: inset(50% 0 50% 0);
  }
  25% {
    clip-path: inset(0 50% 0 50%);
  }
  50% {
    clip-path: inset(50% 0 50% 0);
  }
  75% {
    clip-path: inset(0 50% 0 50%);
  }
  100% {
    clip-path: inset(50% 0 50% 0);
  }
}
