@import "../../styles/Basics";

.just-glitch-preset-2 {
  .just-glitch-img-1 {
    margin: 0;
    line-height: 0;
    z-index: 10;
    animation: glitch-preset-2-1 var(--animation-length) infinite;
  }

  .just-glitch-img-2 {
    filter: invert(0.5);
    animation: glitch-preset-2-2 var(--animation-length) infinite;
    z-index: 5;
  }

  .just-glitch-img-3 {
    filter: invert(1);
    animation: glitch-preset-2-3 var(--animation-length) infinite;
    z-index: 5;
  }
}

@keyframes glitch-preset-2-1 {
  0% {
    transform: none;
    opacity: 1;
  }
  22% {
    transform: none;
    opacity: 1;
  }
  25% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  48% {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  51% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  76% {
    transform: none;
    opacity: 1;
  }
  96% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  99% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch-preset-2-2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  22% {
    transform: none;
    opacity: 0.25;
  }
  25% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  48% {
    transform: none;
    opacity: 0.25;
  }
  50% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  51% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  76% {
    transform: none;
    opacity: 0.25;
  }
  96% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  99% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch-preset-2-3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  22% {
    transform: none;
    opacity: 0.25;
  }
  25% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  48% {
    transform: none;
    opacity: 0.25;
  }
  50% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  51% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  76% {
    transform: none;
    opacity: 0.25;
  }
  96% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  99% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
