.just-glitch-preset-1 {
  .just-glitch-img-1 {
    opacity: 0;
    margin: 0;
    line-height: 0;
    z-index: 10;
  }

  .just-glitch-img-2 {
    margin-top: -5px;
    margin-left: -7px;
    animation: glitch-preset-1-1 3s infinite;
    z-index: 5;
  }

  .just-glitch-img-3 {
    margin-top: 5px;
    margin-left: 7px;
    filter: invert(1);
    animation: glitch-preset-1-2 3s infinite;
    z-index: 5;
  }
}

@keyframes glitch-preset-1-1 {
  0% {
    clip-path: inset(10% 10% 70% 10%);
  }
  25% {
    clip-path: inset(10% 70% 10% 10%);
  }
  50% {
    clip-path: inset(70% 10% 10% 10%);
  }
  75% {
    clip-path: inset(10% 10% 10% 70%);
  }
  100% {
    clip-path: inset(10% 10% 70% 10%);
  }
}

@keyframes glitch-preset-1-2 {
  0% {
    clip-path: inset(70% 10% 10% 10%);
  }
  25% {
    clip-path: inset(10% 10% 10% 70%);
  }
  50% {
    clip-path: inset(10% 10% 70% 10%);
  }
  75% {
    clip-path: inset(10% 70% 10% 10%);
  }
  100% {
    clip-path: inset(70% 10% 10% 10%);
  }
}
