@import "../../styles/Basics";

.just-glitch-preset-3 {
  .just-glitch-img-1 {
    margin: 0;
    line-height: 0;
    z-index: 5;
  }

  .just-glitch-img-2 {
    margin-top: var(--image-pos-top-small);
    margin-left: var(--image-pos-top-small);
    filter: invert(1);
    animation: glitch-preset-3-1 var(--animation-length) infinite;
    z-index: 10;
  }

  .just-glitch-img-3 {
    margin-top: var(--image-pos-bottom-small);
    margin-left: var(--image-pos-right-small);
    filter: invert(1);
    animation: glitch-preset-3-2 var(--animation-length) infinite;
    z-index: 10;
  }
}

@keyframes glitch-preset-3-1 {
  0% {
    clip-path: inset(0 0 70% 0);
  }
  25% {
    clip-path: inset(0 70% 0 0);
  }
  50% {
    clip-path: inset(70% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 70%);
  }
  100% {
    clip-path: inset(0 0 70% 0);
  }
}

@keyframes glitch-preset-3-2 {
  0% {
    clip-path: inset(70% 0 0 0);
  }
  25% {
    clip-path: inset(0 0 0 70%);
  }
  50% {
    clip-path: inset(0 0 70% 0);
  }
  75% {
    clip-path: inset(0 70% 0 0);
  }
  100% {
    clip-path: inset(70% 0 0 0);
  }
}
