@import "../../styles/Basics";

.just-glitch-preset-5 {
  .just-glitch-img-1 {
    opacity: 0;
    filter: invert(1);
    margin-top: var(--image-pos-top-small);
    margin-left: var(--image-pos-top-small);
    animation: glitch-preset-5 calc(var(--animation-length) / 2) infinite;
    z-index: 10;
  }

  .just-glitch-img-2 {
    line-height: 0;
    animation: glitch-preset-5 calc(var(--animation-length) / 2) infinite;
    z-index: 6;
  }

  .just-glitch-img-3 {
    opacity: 0;
    filter: invert(1);
    margin-top: var(--image-pos-bottom-small);
    margin-left: var(--image-pos-right-small);
    animation: glitch-preset-5 calc(var(--animation-length) / 2) infinite;
    z-index: 5;
  }
}

$filters: (
        saturate: (
                units: '',
                range: (
                        min: 1,
                        max: 10
                ),
                probability: 1/5
        ),
        hue-rotate: (
                units: 'deg',
                probability: 1,
                range: (
                        min: 0,
                        max: 90
                ),
        ),
        contrast: (
                units: '',
                probability: 1/10,
                range: (
                        min: 1,
                        max: 10
                ),
        ),
        brightness: (
                units: '%',
                probability: 1/20,
                range: (
                        min: 40,
                        max: 60
                ),
        ),
);

@keyframes glitch-preset-5 {
  0% {
    filter: hue-rotate(54deg);
    transform: translate(calc(-4 * var(--image-size) / 50), calc(0 * var(--image-size) / 50)) scale(1.09);
  }
  1% {
    filter: saturate(3.34) hue-rotate(37.8deg);
    transform: translate(calc(-2 * var(--image-size) / 50), calc(4 * var(--image-size) / 50)) scale(1.19);
  }
  3% {
    filter: hue-rotate(58.5deg);
    transform: translate(calc(1 * var(--image-size) / 50), calc(4 * var(--image-size) / 50)) scale(1.19);
  }
  4% {
    filter: hue-rotate(83.7deg);
    transform: translate(calc(-1 * var(--image-size) / 50), calc(-4 * var(--image-size) / 50)) scale(1.08);
  }
  5% {
    filter: hue-rotate(14.4deg) contrast(2.35);
    transform: translate(calc(-3 * var(--image-size) / 50), calc(-1 * var(--image-size) / 50)) scale(1.11);
  }
  6% {
    filter: hue-rotate(60.3deg);
    transform: translate(calc(1 * var(--image-size) / 50), calc(-2 * var(--image-size) / 50)) scale(1.21);
  }
  7% {
    filter: hue-rotate(76.5deg);
    transform: translate(calc(3 * var(--image-size) / 50), calc(3 * var(--image-size) / 50)) scale(1.22);
  }
  8% {
    filter: hue-rotate(78.3deg);
    transform: translate(calc(-2 * var(--image-size) / 50), calc(-3 * var(--image-size) / 50)) scale(1.19);
  }
  9% {
    filter: hue-rotate(45.9deg);
    transform: translate(calc(-1 * var(--image-size) / 50), calc(4 * var(--image-size) / 50)) scale(1.24);
  }
  12% {
    filter: hue-rotate(63deg);
    transform: translate(calc(-2 * var(--image-size) / 50), calc(2 * var(--image-size) / 50)) scale(1.24);
  }
  13% {
    filter: hue-rotate(9.9deg);
    transform: translate(calc(-3 * var(--image-size) / 50), calc(-4 * var(--image-size) / 50)) scale(1.24);
  }
  14% {
    filter: hue-rotate(46.8deg);
    transform: translate(calc(-1 * var(--image-size) / 50), calc(1 * var(--image-size) / 50)) scale(1.25);
  }
  15% {
    filter: saturate(5.23) hue-rotate(34.2deg) brightness(57%);
    transform: translate(calc(-4 * var(--image-size) / 50), calc(4 * var(--image-size) / 50)) scale(1.13);
  }
  16% {
    filter: saturate(7.03) hue-rotate(84.6deg);
    transform: translate(calc(1 * var(--image-size) / 50), calc(2 * var(--image-size) / 50)) scale(1.15);
  }
  17% {
    filter: hue-rotate(81.9deg);
    transform: translate(calc(1 * var(--image-size) / 50), calc(-4 * var(--image-size) / 50)) scale(1.15);
  }
  19% {
    filter: hue-rotate(74.7deg);
    transform: translate(calc(3 * var(--image-size) / 50), calc(-3 * var(--image-size) / 50)) scale(1.17);
  }
}
