.wow-crypto-city-preview {
  background: linear-gradient(104deg, #ffd9e3, #e5f2ff);

  .wow-crypto-city-preview-inner-container {
    height: 100%;
  }

  &-portrait {
    position: relative;
    padding: 3%;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    &-background {
      display: none;
    }

    .wow-crypto-city-preview-item {
      width: 100%;

      img {
        width: 100%;
      }
    }

    justify-content: space-between;

    &-coin {
      width: 80% !important;
      align-self: flex-end;

      img {
        width: 100%;
      }
    }
  }

  &-landscape {
    .wow-crypto-city-preview-item {
      z-index: 2;

      img {
        width: 100%;
      }
    }

    &-background {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &-header {
      position: absolute;
      width: 30%;
      top: 26%;
      left: 27%;
      transform: translate(-50%, -50%);
    }

    &-coin {
      position: absolute;
      width: 30%;
      top: 76%;
      left: 27%;
      transform: translate(-50%, -50%);
    }

    &-galleries {
      position: absolute;
      width: 45%;
      top: 27%;
      left: 72%;
      transform: translate(-50%, -50%);
    }

    &-fountain {
      position: absolute;
      width: 45%;
      top: 77%;
      left: 72%;
      transform: translate(-50%, -50%);
    }

    justify-content: space-between;
  }
}
