@import "../styles/Basics";

.wow-lucky-coin-mint {
  background: linear-gradient(104deg, #ffc9d8, #c3e1ff);

  &-portrait {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .wow-lucky-coin-mint-content {
      width: 100%;
      height: 100%;
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
    }

    .wow-lucky-coin-mint-preview {
      width: 100%;
      aspect-ratio: 1/1;
    }

    .wow-lucky-coin-mint-explanations {
      width: 100%;
      height: 15%;
    }

    .wow-lucky-coin-mint-buttons {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

  }

  &-landscape {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 12px;

    .wow-lucky-coin-mint-content {
      width: 100%;
      height: 100%;
      padding: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .wow-lucky-coin-mint-preview {
      display: block;
      width: 100dvh;
      aspect-ratio: 1/1;
    }

    .wow-lucky-coin-mint-explanations {
      width: 20%;
      height: 100%;
    }

    .wow-lucky-coin-mint-buttons {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

  }

}
