@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('/public/fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elementsfour';
    src: url('/public/fonts/horizon/HorizonElementsfour.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonElementsfour.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Outline';
    src: url('/public/fonts/horizon/HorizonOutline.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Linestwo';
    src: url('/public/fonts/horizon/HorizonLinestwo.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonLinestwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elements';
    src: url('/public/fonts/horizon/HorizonElements.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonElements.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elementsthree';
    src: url('/public/fonts/horizon/HorizonElementsthree.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonElementsthree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon';
    src: url('/public/fonts/horizon/HorizonRegular.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Elementstwo';
    src: url('/public/fonts/horizon/HorizonElementstwo.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonElementstwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Outlinetwo';
    src: url('/public/fonts/horizon/HorizonOutlinetwo.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonOutlinetwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horizon Lines';
    src: url('/public/fonts/horizon/HorizonLines.woff2') format('woff2'),
    url('/public/fonts/horizon/HorizonLines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-BoldItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('/public/fonts/aeonic/Aeonik-Air.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('/public/fonts/aeonic/Aeonik-AirItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-AirItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Black.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Medium.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Light.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-BlackItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Bold.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-RegularItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-MediumItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Regular.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-ThinItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-Thin.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/public/fonts/aeonic/Aeonik-LightItalic.woff2') format('woff2'),
    url('/public/fonts/aeonic/Aeonik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    --sjs-font-questiontitle-family: 'Aeonik Medium', 'Roboto Light', 'Roboto' sans-serif;
    --font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
    font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    padding: 45px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.body-frame-banner {
    position: absolute;
}

.body-frame-banner-top {
    border-bottom: 1px solid #fbbffa;
    top: 0;
    left: 0;
    height: 45px;
    z-index: 2;
}

.body-frame-banner-top-left-corner-0 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    left: -1183px;
    height: 45px;
    z-index: 40;
    rotate: -45deg;
}

.body-frame-banner-top-left-corner-1 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    left: -1155px;
    height: 45px;
    z-index: 30;
    rotate: -45deg;
}

.body-frame-banner-top-left-corner-2 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    left: -1126px;
    height: 45px;
    z-index: 20;
    rotate: -45deg;
}

.body-frame-banner-right {
    border-left: 1px solid #fbbffa;
    bottom: 0;
    right: 0;
    width: 45px;
    z-index: 1;
}

.body-frame-banner-top-right-corner-0 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    right: -1183px;
    height: 45px;
    z-index: 40;
    rotate: 45deg;
}

.body-frame-banner-top-right-corner-1 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    right: -1155px;
    height: 45px;
    z-index: 30;
    rotate: 45deg;
}

.body-frame-banner-top-right-corner-2 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    top: 0;
    right: -1126px;
    height: 45px;
    z-index: 20;
    rotate: 45deg;
}


.body-frame-banner-bottom {
    border-top: 1px solid #fbbffa;
    bottom: 0;
    left: 0;
    height: 45px;
    z-index: 2;
}

.body-frame-banner-bottom-left-corner-0 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    left: -1183px;
    height: 45px;
    z-index: 40;
    rotate: 45deg;
}

.body-frame-banner-bottom-left-corner-1 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    left: -1155px;
    height: 45px;
    z-index: 30;
    rotate: 45deg;
}

.body-frame-banner-bottom-left-corner-2 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    left: -1126px;
    height: 45px;
    z-index: 20;
    rotate: 45deg;
}

.body-frame-banner-left {
    border-right: 1px solid #fbbffa;
    bottom: 0;
    left: 0;
    width: 45px;
    z-index: 1;
}

.body-frame-banner-bottom-right-corner-0 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    right: -1183px;
    height: 45px;
    z-index: 40;
    rotate: -45deg;
}

.body-frame-banner-bottom-right-corner-1 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    right: -1155px;
    height: 45px;
    z-index: 30;
    rotate: -45deg;
}

.body-frame-banner-bottom-right-corner-2 {
    border-bottom: 1px solid #fbbffa;
    border-top: 1px solid #fbbffa;
    bottom: 0;
    right: -1126px;
    height: 45px;
    z-index: 20;
    rotate: -45deg;
}

.body-frame-banner-corner {
    box-shadow: 0 0 20px #fbbffa;
}

.body-frame-banner-border {
    box-shadow: inset 0 0 20px #fbbffa;
}

.frame-shadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    box-shadow: inset 0 0 20px #fbbffa6e;
    z-index: 1000;
}

.container-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 15px #fbbffa;
    padding: 20px;
}

.container-border {
    width: 100%;
    height: 100%;
    border: magenta 1px solid;
    outline-offset: -2px;
    outline: 1px solid white;
    align-items: center !important;
    box-shadow: 0 0 15px #fbbffa, inset 0 0 0 2px magenta;
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(175, 226, 238, 0);
    border: magenta 5px solid;
}

a {
    font-family: 'Horizon', serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(175, 226, 238, 0);
    border: magenta 1px solid;
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-enable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
