@import "../../styles/Basics.scss";

.btn {
  padding: 10px;
  color: white;
  background-color: $highlightPink;
  cursor: pointer;
  height: 49px;
  border: none;
}

.btn:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}

.btn:hover:not(.btn:disabled) {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.btn.generate-btn-loading {
  filter: initial;
}
