@import "../../styles/Basics.scss";

.btn {
  padding: 10px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  height: 49px;
  border: none;
}

.btn.btn-blue {
  background-color: $blue;
}

.btn:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}

.btn:hover:not(.btn:disabled) {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.btn.generate-btn-loading {
  filter: initial;
}

.generate-btn-loading {
  position: relative;

  .timer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    animation: blink 1s infinite ease-in-out;
  }
}

@keyframes blink {
  0% {
    filter: none;
  }
  92% {
    filter: none;
  }
  100% {
    filter: invert(1);
  }
}
