.ape-lucky-coin-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0.5em;

    div {
      justify-content: center;

      button {

        div {
          font-weight: 400;
          padding: 0 !important;
          border: 0 !important;
        }

        svg {
          path {
            stroke-width: 2;
          }
        }
      }
    }
  }

  &-line {
    top: 0;
    left: -10%;
    position: absolute;
    width: 60%;
    height: 0.5em;
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
}
