
.circus-banner-top {
  z-index: 10;
  width: 508px;
  height: 68px;
  top: 151px;
  left: 476px;
  position: absolute;
}

.circus-banner-top-shadow {
  width: 512px;
  height: 72px;
  top: 149px;
  left: 474px;
  position: absolute;
}


.circus-banner-top-text-center {
  z-index: 20;
  width: 258px;
  height: 28px;
  top: 190px;
  left: 600px;
  position: absolute;
  background: black;
  overflow: hidden;
}

.circus-banner-top-text-left {
  z-index: 20;
  width: 258px;
  height: 28px;
  top: 177px;
  left: 409px;
  transform: skew(0, 12deg) scaleX(0.475);
  position: absolute;
  background: black;
  overflow: hidden;
}

.circus-banner-top-text-right {
  z-index: 20;
  width: 258px;
  height: 28px;
  top: 176px;
  left: 792px;
  transform: skew(0, -13deg) scaleX(0.475);
  position: absolute;
  background: black;
  overflow: hidden;
}

.circus-banner-top-text {
  padding: 8px;
  width: 1000px;
  animation: text-slide var(--animation-length) linear infinite;

  .circus-banner-top-text-star {
    position: absolute;
    font-size: 8px;
    top: 11px;
    margin-left: -1px;
  }
}

@keyframes text-slide {
  0% {

  }
  100% {
    transform: translateX(-195px);
  }
}

