@import "Opensea";
@import "BannerTop";
@import "BannerBottom";
@import "CircusLeft";
@import "CircusRight";


.circus-page {
  width: 1416px * 5;
  height: 500vh;
  display: flex;
  flex-direction: row;
  background: black url("background-chess-wow-cropped.png");
  background-size: 355px;
}

.circus-page-circus {
  position: absolute;
}

.circus {
  position: relative;
  transform: scale(1.00, 0.99);
  top: 284px;
  left: 289px;
}

.circus-main-asset {
  width: 1416px;
  height: 596px;
  position: absolute;
}

.circus-page-explainer {
  width: 1416px;
  height: 596px;
  position: absolute;
  top: 1000px;
  left: 289px;
}

.circus-page-explainer-contents {
  position: relative;
  width: 100%;
  height: 100%;
}

.circus-page-meme-1 {
  width: 596px;
  height: 596px;
  position: absolute;
  top: 2000px;
  left: 289px;
}

.circus-page-meme-1-drake {
  width: 100%;
  height: 100%;
  position: absolute;
}

.circus-page-meme-1-gif-13 {
  left: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 100;
  img {
    width: 100%;
  }
}
.circus-page-meme-1-man {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 100;
  .just-glitch-img-container {
    height: 274px;
  }
  img {
    width: 100%;
  }
}

.circus-page-meme-1-contents {
  position: relative;
  width: 100%;
  height: 100%;
}

.circus-page-gif {
  position: absolute;
  width: 256px;
  height: 256px;
  z-index: 100000000;

  img {
    width: 100%;
    height: 100%;
  }
}

.circus-page-gif-1 {
  top: 20%;
  left: 20%;
}

.circus-page-gif-2 {
  top: 40%;
  left: 35%;
}

.circus-page-gif-3 {
  top: 20%;
  left: 50%;
}

.circus-page-gif-4 {
  top: 40%;
  left: 65%;
}

.circus-page-gif-5 {
  top: 20%;
  left: 80%;
}

.circus-background-shadow {
  height: initial;
}

.circus-clouds {
  z-index: 10;
  opacity: 0.7;
}

.circus-stars {
  z-index: 10;
}

.circus-pills {
  z-index: 10;
  opacity: 0.8;
}

.circus-gurt-frame {
  width: 265px;
  height: 265px;
  left: 1110px;
  top: 130px;
  z-index: 10;
  position: absolute;
}

.circus-all {
  opacity: 1;
}

.circus-background-left {
  width: 1416px;
}

.circus-background-left-1 {
  width: 1416px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.circus-background-left-2 {
  width: 1416px;
  height: 596px;
  overflow: hidden;
  position: relative;
}

.circus-background-left-3 {
  width: 1416px;
  height: 200px;
  overflow: hidden;
  position: relative;

  .circus-background, .circus-background-shadow {
    top: -15px;
  }
}

.circus-background-top {
  width: 1416px;
  height: 200px;
  position: relative;
}

.circus-background-bottom {
  width: 1416px;
  height: 200px;
  overflow: hidden;
  position: relative;

  .circus-background, .circus-background-shadow {
    top: -15px;
  }
}

.circus {
  width: 1416px;
  height: 596px;
  position: relative;
}

.circus-logo {
  width: 166px;
  height: 166px;
  top: 182px;
  left: 648px;
  position: absolute;
}

.left-polihorseman {
  width: 141px;
  height: 141px;
  top: 264px;
  left: 589px;
  position: absolute;
}

.right-polihorseman {
  transform: scaleX(-1);
  width: 141px;
  height: 141px;
  top: 264px;
  left: 731px;
  position: absolute;
}

.circus-sphere {
  width: 71px;
  height: 46px;
  top: 454px;
  left: 694px;
  position: absolute;
}

.circus-rabbits-left {
  z-index: 100;
  width: 108px;
  height: 96px;
  top: 110px;
  left: 534px;
  position: absolute;
}

.circus-rabbits-left-1 {
  z-index: 20;
  width: 104px;
  height: 90px;
  top: 110px;
  left: 534px;
  opacity: 0.7;
  position: absolute;
}

.circus-rabbits-right-1 {
  z-index: 20;
  width: 143px;
  height: 78px;
  top: 122px;
  left: 804px;
  opacity: 0.7;
  transform: scaleX(1.1);
  position: absolute;
}

.circus-rabbits-right {
  z-index: 20;
  width: 143px;
  height: 78px;
  top: 124px;
  left: 806px;
  position: absolute;
}

.circus-alina {
  z-index: 10;
  width: 52px;
  height: 84px;
  top: 91px;
  left: 745px;
  transform: skewY(5deg);
  position: absolute;
}

.circus-dima {
  z-index: 100;
  width: 65px;
  height: 107px;
  top: 118px;
  left: 632px;
  position: absolute;
  transform: rotate(8deg) skewY(-7deg) skewX(7deg);
}

