@use "sass:math";
@import "../../styles/Basics";
@import "../../styles/JustGrid";

.just-random-chess {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.just-random-chess-invert {

}

.just-random-chess-grid {
  position: absolute;
  width: var(--scene-size);
  height: var(--scene-size);
}

.just-random-chess-grid-cell {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@for $i from 1 to $cellCount + 1 {
  @for $j from 1 to $cellCount + 1 {
    .just-random-chess-grid-cell-#{($i - 1) * $cellCount + $j} {
      @if (($i+$j) % 2 == 0) {
        background-color: var(--chess-color-1);
      } @else {
        background-color: var(--chess-color-2);
      }
    }
    .just-random-chess-invert {
      .just-random-chess-grid-cell-#{($i - 1) * $cellCount + $j} {
        @if (($i+$j) % 2 == 0) {
          background-color: var(--chess-color-2);
        } @else {
          background-color: var(--chess-color-1);
        }
      }
    }
  }
}
