@use "sass:math";
@import "../../styles/Basics";

.just-random-image-glitch-grid {;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.just-random-image-glitch-grid-grid {
  position: absolute;
  width: $sceneWithoutMargins;
  height: $sceneWithoutMargins;
}
