@use "sass:math";
@import "../../styles/Basics";

.just-random-image-glitch-grid {;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.just-random-image-glitch-grid-grid {
  position: absolute;
  width: var(--scene-size);
  height: var(--scene-size);
}

.just-random-image-glitch-big {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
}
