@use "sass:math";
@import "../../styles/Basics";

.just-random-slider {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
}

.just-random-slider-slides {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.just-random-slider-horizontal .just-random-slider-slides {
  display: flex;
  flex-direction: row;
  animation: slider-horizontal var(--animation-length) infinite linear;
  width: calc(var(--image-size) * var(--image-count));
}

.just-random-slider-preset-1 .just-random-slider-slides {
  animation: slider-vertical-preset calc(var(--animation-length) / 2) infinite linear;
}

.just-random-slider-preset-2 .just-random-slider-slides {
  animation: slider-horizontal-preset calc(var(--animation-length) / 2) infinite linear;
}

.just-random-slider-preset-3 .just-random-slider-slides {
  animation: slider-vertical-preset calc(var(--animation-length) / 4) infinite ease-in-out;
}

.just-random-slider-preset-4 .just-random-slider-slides {
  animation: slider-horizontal-preset calc(var(--animation-length) / 4) infinite ease-in-out;
}

.just-random-slider-preset-5 .just-random-slider-slides {
  animation: slider-diagonal-preset calc(var(--animation-length) / 2) infinite linear;
}

.just-random-slider-preset-6 .just-random-slider-slides {
  animation: slider-diagonal-preset calc(var(--animation-length) / 4) infinite ease-in-out;
}

.just-random-slider-vertical .just-random-slider-slides {
  display: flex;
  flex-direction: column;
  height: calc(var(--image-size) * var(--image-count));
}

@keyframes slider-horizontal-preset {
  0% {
    transform: translateX(calc(var(--image-size) * -1));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slider-vertical-preset {
  0% {
    transform: translateY(calc(var(--image-size) * -1));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slider-diagonal-preset {
  0% {
    transform: translateX(calc(var(--image-size) * -1)) translateY(calc(var(--image-size) * -1));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
