@use "sass:math";
@import "../../styles/Basics";

.just-random-wave-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-vertical {
    .just-random-wave {
      flex-direction: column;
      position: absolute;
      rotate: 90deg;
    }
  }

  &-horizontal {
  }
}

.just-random-wave {
  position: absolute;
  width: var(--scene-size);
  height: 0;
  transform: skew(-20deg) rotateY(180deg);
  z-index: 20;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

@for $i from 1 to 61 {
  .just-random-wave-item-#{$i} {
    position: absolute;
    top: calc(var(--image-size)/-2);
    width: var(--image-size);
    height: var(--image-size);
    left: math.percentage(math.div($i - 1, 20));
    z-index: 161 - $i;
  }
}
