@import "../../styles/Basics";

.over-just-grid-preset-4 {
  .over-just-grid-block {
    display: none;
  }

  &.over-just-grid-preset-4-level-1, &.over-just-grid-preset-4-level-2, &.over-just-grid-preset-4-level-3 {
    .over-just-grid-corner {
      display: block;
    }
  }

  &.over-just-grid-preset-4-level-2, &.over-just-grid-preset-4-level-3 {
    .over-just-grid-corner-left-top {
      animation: calc(var(--animation-length) / 2) over-corner-slide-left-top ease-out infinite;
    }

    .over-just-grid-corner-right-top {
      animation: calc(var(--animation-length) / 2) over-corner-slide-right-top ease-out infinite;
    }

    .over-just-grid-corner-left-bottom {
      animation: calc(var(--animation-length) / 2) over-corner-slide-left-bottom ease-out infinite;
    }

    .over-just-grid-corner-right-bottom {
      animation: calc(var(--animation-length) / 2) over-corner-slide-right-bottom ease-out infinite;
    }
  }

  &.over-just-grid-preset-4-level-3 {
    .over-just-grid-center-x {
      display: block;
    }
  }
}
