@import "../../styles/Basics";

.over {
  z-index: $zIndexOverlay;
}
.over-just-grid-corner.over-frame {
  background: $shadowBackground;
  border: $borderWidth solid $accent;
}

.over-just-grid-corner-left-top {
  grid-column: cell-1 / span 2;
  grid-row: cell-1 / span 2;
}

.over-just-grid-corner-left-bottom {
  grid-column: cell-1 / span 2;
  grid-row: cell-7 / span 2;
}

.over-just-grid-corner-right-top {
  grid-column: cell-7 / span 2;
  grid-row: cell-1 / span 2;
}

.over-just-grid-corner-right-bottom {
  grid-column: cell-7 / span 2;
  grid-row: cell-7 / span 2;
}

.over-just-grid-center.over-frame {
  background: $shadowBackground;
  box-shadow: 0 0 $borderWidth $borderWidth $accent;
}

.over-just-grid-center-left-top {
  grid-column: cell-3 / span 2;
  grid-row: cell-3 / span 2;
}

.over-just-grid-center-left-bottom {
  grid-column: cell-3 / span 2;
  grid-row: cell-5 / span 2;
}

.over-just-grid-center-right-top {
  grid-column: cell-5 / span 2;
  grid-row: cell-3 / span 2;
}

.over-just-grid-center-right-bottom {
  grid-column: cell-5 / span 2;
  grid-row: cell-5 / span 2;
}

.over-just-grid-center-x.over-frame {
  background: $shadowBackground;
  box-shadow: 0 0 $borderWidth $borderWidth $accent;
}

.over-just-grid-center-4 {
  box-sizing: border-box;
  grid-column: cell-3/span 4;
  grid-row: cell-3/span 4;
}

.over-just-grid-center-6 {
  box-sizing: border-box;
  grid-column: cell-2/span 6;
  grid-row: cell-2/span 6;
}

.over-just-grid-center-8 {
  box-sizing: border-box;
  grid-column: cell-1/span 8;
  grid-row: cell-1/span 8;
}

@keyframes over-center-slide-left-top {
  0% {

  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes over-center-slide-left-bottom {
  0% {

  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes over-center-slide-right-top {
  0% {

  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes over-center-slide-right-bottom {
  0% {

  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes over-corner-slide-left-top {
  0% {

  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes over-corner-slide-left-bottom {
  0% {

  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes over-corner-slide-right-top {
  0% {

  }
  100% {
    transform: translateY(300%);
  }
}

@keyframes over-corner-slide-right-bottom {
  0% {

  }
  100% {
    transform: translateX(-300%);
  }
}
