@import "../../styles/Basics";

.over-preset-5-just-grid-left-top {
  background: rgba(0, 0, 0, 0.88);
  border: $borderWidth solid $accent;
  grid-column: cell-1 / span 2;
  grid-row: cell-1 / span 2;
  animation: calc(var(--animation-length)/2) over-preset-5-left-top ease-in-out infinite;
}

.over-preset-5-just-grid-left-bottom {
  background: rgba(0, 0, 0, 0.88);
  border: $borderWidth solid $accent;
  grid-column: cell-1 / span 2;
  grid-row: cell-7 / span 2;
  animation: calc(var(--animation-length)/2) over-preset-5-left-bottom ease-in-out infinite;
}

.over-preset-5-just-grid-right-top {
  background: rgba(0, 0, 0, 0.88);
  border: $borderWidth solid $accent;
  grid-column: cell-7 / span 2;
  grid-row: cell-1 / span 2;
  animation: calc(var(--animation-length)/2) over-preset-5-right-top ease-in-out infinite;
}

.over-preset-5-just-grid-right-bottom {
  background: rgba(0, 0, 0, 0.88);
  border: $borderWidth solid $accent;
  grid-column: cell-7 / span 2;
  grid-row: cell-7 / span 2;
  animation: calc(var(--animation-length)/2) over-preset-5-right-bottom ease-in-out infinite;
}

.over-preset-5-just-grid-center {
  background: rgba(0, 0, 0, 0.88);
  box-shadow: 0 0 $borderWidth $borderWidth $accent;
  box-sizing: border-box;
  grid-column: cell-3/span 4;
  grid-row: cell-3/span 4;

  .just-glitch-img-container {
    animation: calc(var(--animation-length)) over-preset-5-coin ease-in-out infinite;
  }
}

@keyframes over-preset-5-coin {
  0% {
    transform: rotateY(0);
  }
  45% {
    transform: rotateY(900deg);
  }
  50% {
    transform: rotateY(900deg);
  }
  55% {
    transform: rotateY(990deg);
  }
  95% {
    transform: rotateY(1800deg);
  }
  100% {
    transform: rotateY(1800deg);
  }
}

@keyframes over-preset-5-left-top {
  0% {

  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes over-preset-5-left-bottom {
  0% {

  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes over-preset-5-right-top {
  0% {

  }
  100% {
    transform: translateY(300%);
  }
}

@keyframes over-preset-5-right-bottom {
  0% {

  }
  100% {
    transform: translateX(-300%);
  }
}
