$blue: #1B46F5;
$pink: #EA42A7;
$green: #5AC45F;
$yellow: #9DD544;
$red: #DE5148;
$black: #000000;

$highlightPink: #FE2AAA;
$highlightGreen: #04C74F;

$background: black;
$shadowBackground: rgba(0, 0, 0, 0.77);
$text: #f5efed;
$accent: white;
$textHighlight1: $highlightPink;
$textHighlight2: $highlightGreen;
$borderWidth: 1px;
$imagesCount: 6;

$zIndexOverlay: 10000;
$zIndexMatrix: 1000;
$zIndexBorders: 100000;

body {
  font-family: Machina ub, serif;
  font-size: 1em;
  color: $text;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 1em;
  background: $black;
}

table td {
  font-family: "Inter", serif;
  font-size: 0.8em;
}

h3 {
  font-size: 0.9em;
  font-family: "Machina r", serif;
}

h1 {
  font-size: 1.25em;
  font-family: "Machina ub", serif;
  color: $highlightPink;
}

.text-note {
  font-family: "Inter", serif;
  font-size: 0.8em;
}

table thead th {
  font-family: Machina r, serif;
  padding: 0.5em 0;
  border-bottom: 1px solid $accent;
}

table.padded {
  border: 1px solid $accent;
}

table.padded thead th {
  text-align: center;
}

table.padded tr td:first-child {
  padding-left: 1em;
}

table.padded tr td:last-child {
  padding-right: 1em;
}

table tbody tr:first-child td {
  padding-top: 0.5em;
}

table tbody tr:last-child td {
  padding-bottom: 0.5em;
}

.text-highlight {
  color: $textHighlight2;
}

.text-highlight-cool {
  color: $textHighlight1;
}

.text-highlight-big {
  text-decoration: underline;
}

div {
  box-sizing: border-box;
}

body a:visited {
  color: $accent;
}

body {
  overflow-x: hidden;
}
