$blue: #1B46F5;
$pink: #EA42A7;
$green: #5AC45F;
$yellow: #9DD544;
$red: #DE5148;
$black: #000000;

$highlightPink: #FE2AAA;
$highlightGreen: #04C74F;

body {
  font-family: Machina ub, serif;
  font-size: 1em;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 1em;
}

table td {
  font-family: "Inter", serif;
  font-size: 0.8em;
}

table thead th {
  font-family: Machina r, serif;
  padding: 0.5em 0;
  border-bottom: 1px solid white;
}

table.padded {
  border: 1px solid white;
}

table.padded thead th {
  text-align: center;
}

table.padded tr td:first-child {
  padding-left: 1em;
}

table.padded tr td:last-child {
  padding-right: 1em;
}

table tbody tr:first-child td {
  padding-top: 0.5em;
}

table tbody tr:last-child td {
  padding-bottom: 0.5em;
}

.text-highlight {
  color: $highlightGreen;
}

.text-highlight-cool {
  color: $highlightPink;
}

.text-highlight-big {
  text-decoration: underline;
}

div {
  box-sizing: border-box;
}

body a:visited {
  color: white;
}

body {
  overflow-x: hidden;
}

