@use "sass:math";
@import "./Glitch/Glitch1";
@import "./Glitch/Glitch2";
@import "./Glitch/Glitch3";
@import "Basics";
.just-glitch-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.just-glitch-img {
  position: absolute;
  max-height: var(--image-size);
  max-width: var(--image-size);
}

@for $i from 1 to 1000 {
  $r: random(1000);
  .animation-random-start-#{$i} {
    animation-delay: #{$r}ms !important;
  }
}

@for $i from 1 to 8 {
  $r: random(1000);
  .animation-delayed-start-#{$i} {
    animation-delay: calc(#{$i} / 8 * var(--animation-phase) * var(--animation-delay-multiplier) * -1) !important;
  }
}

