@use "sass:math";
@import "./Glitch/Glitch1";
@import "./Glitch/Glitch2";
@import "./Glitch/Glitch3";
@import "./Glitch/Glitch4";
@import "./Glitch/Glitch5";
@import "./Glitch/Glitch6";
@import "./Glitch/Glitch7";
@import "Basics";

@for $i from 1 to 1000 {
  $r: random(1000);
  .animation-random-start-#{$i} {
    animation-delay: #{$r}ms !important;
  }
}

@for $i from 1 to 8 {
  $r: random(1000);
  .animation-delayed-start-#{$i} {
    animation-delay: calc(#{$i} / 8 * var(--animation-phase) * var(--animation-delay-multiplier) * -1) !important;
  }
}

.just-random-image-glitch-big.img-size-2 img {
  width: var(--image-size-2);
}

.just-random-image-glitch-big.img-size-3 img {
  width: var(--image-size-3);
}

.just-random-image-glitch-big.img-size-4 img {
  width: var(--image-size-4);
}

.just-random-image-glitch-big.img-size-5 img {
  width: var(--image-size-5);
}

.just-random-image-glitch-big.img-size-6 img {
  width: var(--image-size-6);
}

.just-random-image-glitch-big.img-size-7 img {
  width: var(--image-size-7);
}

.just-glitch-img-1 {
  width: var(--image-size);
}

.just-glitch-img-2 {
  width: var(--image-size);
}

.just-glitch-img-3 {
  width: var(--image-size);
}

.just-glitch-img-4 {
  display: none;
}

.just-glitch-img-5 {
  display: none;
}

.just-glitch-img-6 {
  display: none;
}

.just-glitch-img-7 {
  display: none;
}
