body {
    margin: 0;
    --sjs-font-questiontitle-family: 'Aeonik Medium', 'Roboto Light', 'Roboto' sans-serif;
    --font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
    font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100vw;
    height: 100vh;
    background: black;
}

@keyframes blur {
    0% {
        filter: blur(7px);
    }
    100% {
        filter: blur(0px);
    }
}

h1, h2, h3, h4 {
    font-family: 'Horizon Outline', 'Roboto', sans-serif;
}

.box {
    text-decoration: underline;
    background: #d9d8d8;
    border: 1px solid;
}

.box-shadow {
    box-shadow: 5px 5px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.5rem;
}

h3 span {
    font-size: 1.5rem;
}

div, span {
    font-size: 0.875rem;
}

a {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: initial;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    padding: 3.5rem;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(175, 226, 238, 0);
}

.container-border {
    width: 100%;
    height: 100%;
    border: magenta 1px solid;
    outline-offset: -2px;
    outline: 1px solid white;
    align-items: center !important;
    box-shadow: 0 0 15px #fbbffa, inset 0 0 0 2px magenta;
    display: flex;
    justify-content: center;
}


.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-enable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
