@import "include-media/dist/_include-media";
@import "Basics";
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

body {
  margin: 0;
  --sjs-font-questiontitle-family: 'Aeonik Medium', 'Roboto Light', 'Roboto' sans-serif;
  --font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
  font-family: 'Aeonik Medium', 'Roboto Light', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: $background;
}

@keyframes blur {
  0% {
    filter: blur(7px);
  }
  100% {
    filter: blur(0px);
  }
}

.box {
  text-decoration: underline;
  background: #d9d8d8;
  border: 1px solid;
}

.box-shadow {
  box-shadow: 5px 5px;
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.select-enable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
