.just-random-frame {
  border: white 1px solid;
  overflow: hidden;
  background: black;
  box-shadow: -4px 4px 0 0 black, -5px 5px 0 0 white, -9px 9px 0 0 black, -10px 10px 0 0 white;
}

.just-random-frame-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.just-random-frame-toolbar {
  height: 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  border-bottom: 1px solid white;
  z-index: 10;
  background: black;
}

.just-random-frame-toolbar-item {
  border-left: 1px solid white;
  position: relative;
  height: 18px;
  width: 18px;
}

.just-random-frame-toolbar-close-1 {
  width: 11px;
  height: 1px;
  display: block;
  background: #ffffff;
  position: absolute;
  transform: rotate(-45deg);
  left: 3px;
  bottom: 9px;
}

.just-random-frame-toolbar-close-2 {
  width: 11px;
  height: 1px;
  display: block;
  background: #ffffff;
  position: absolute;
  transform: rotate(45deg);
  left: 3px;
  bottom: 9px;
}

.just-random-frame-toolbar-expand-1 {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  position: absolute;
  left: 3px;
  bottom: 4px;
  z-index: 10;
  background: black;
}

.just-random-frame-toolbar-expand-2 {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  position: absolute;
  left: 6px;
  bottom: 7px;
}

.just-random-frame-toolbar-minimize-1 {
  display: block;
  width: 7px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
