@use "sass:math";
@import "Basics";

.just {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

$cellCount: 8;
.just-scene-grid {
  display: grid;
  grid-template-columns:
          [cell-1] math.percentage(1 / $cellCount)
          [cell-2] math.percentage(1 / $cellCount)
          [cell-3] math.percentage(1 / $cellCount)
          [cell-4] math.percentage(1 / $cellCount)
          [cell-5] math.percentage(1 / $cellCount)
          [cell-6] math.percentage(1 / $cellCount)
          [cell-7] math.percentage(1 / $cellCount)
          [cell-8] math.percentage(1 / $cellCount);
  grid-template-rows:
          [cell-1] math.percentage(1 / $cellCount)
          [cell-2] math.percentage(1 / $cellCount)
          [cell-3] math.percentage(1 / $cellCount)
          [cell-4] math.percentage(1 / $cellCount)
          [cell-5] math.percentage(1 / $cellCount)
          [cell-6] math.percentage(1 / $cellCount)
          [cell-7] math.percentage(1 / $cellCount)
          [cell-8] math.percentage(1 / $cellCount);
}

.just-scene-grid-cell {
  border: 1px solid white;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
}
.just-scene-grid-cell-active {
  display: block;
}
