@import "Basics";

.just-random-frame {
  border: $accent $borderWidth solid;
  background: $background;
  box-shadow: -$borderWidth $borderWidth 0 0 $background, -($borderWidth * 2) $borderWidth * 2 0 0 $accent, -($borderWidth * 3) ($borderWidth * 3) 0 0 $background, -($borderWidth * 4) ($borderWidth * 4) 0 0 $accent, -($borderWidth * 5) ($borderWidth * 5) 0 0 $background;
}

.just-random-frame-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.just-random-frame-toolbar {
  height: 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  border-bottom: $borderWidth solid $accent;
  z-index: 10;
  background: $background;
}

.just-random-frame-toolbar-item {
  border-left: $borderWidth solid $accent;
  position: relative;
  height: 18px;
  width: 18px;
}

.just-random-frame-toolbar-close-1 {
  width: 11px;
  height: 1px;
  display: block;
  background: $accent;
  position: absolute;
  transform: rotate(-45deg);
  left: 3px;
  bottom: 9px;
}

.just-random-frame-toolbar-close-2 {
  width: 11px;
  height: 1px;
  display: block;
  background: $accent;
  position: absolute;
  transform: rotate(45deg);
  left: 3px;
  bottom: 9px;
}

.just-random-frame-toolbar-expand-1 {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid $background;
  position: absolute;
  left: 3px;
  bottom: 4px;
  z-index: 10;
  background: $accent;
}

.just-random-frame-toolbar-expand-2 {
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid $accent;
  position: absolute;
  left: 6px;
  bottom: 7px;
}

.just-random-frame-toolbar-minimize-1 {
  display: block;
  width: 7px;
  height: 1px;
  background: $accent;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.just-random-frame-toolbar-text {
  display: none;
  width: 100%;
  font-size: 0.9em;
  text-align: left;
  padding: 0.25em;
  font-family: "Machina r", serif;
}

.just-random-frame-toolbar-text-active {
  display: initial;
}
