@use "sass:math";
@import "./Basics";
@import "JustGridBorders";

$cellCount: 17;
.just-grid {
  display: grid;
  --cell-size: var(--image-size);
  grid-template-columns:
          [cell-1] var(--cell-size)
          [cell-2] var(--cell-size)
          [cell-3] var(--cell-size)
          [cell-4] var(--cell-size)
          [cell-5] var(--cell-size)
          [cell-6] var(--cell-size)
          [cell-7] var(--cell-size)
          [cell-8] var(--cell-size)
          [cell-9] var(--cell-size)
          [cell-10] var(--cell-size)
          [cell-11] var(--cell-size)
          [cell-12] var(--cell-size)
          [cell-13] var(--cell-size)
          [cell-14] var(--cell-size)
          [cell-15] var(--cell-size)
          [cell-16] var(--cell-size)
          [cell-17] var(--cell-size);

  grid-template-rows:
          [cell-1] var(--cell-size)
          [cell-2] var(--cell-size)
          [cell-3] var(--cell-size)
          [cell-4] var(--cell-size)
          [cell-5] var(--cell-size)
          [cell-6] var(--cell-size)
          [cell-7] var(--cell-size)
          [cell-8] var(--cell-size)
          [cell-9] var(--cell-size)
          [cell-10] var(--cell-size)
          [cell-11] var(--cell-size)
          [cell-12] var(--cell-size)
          [cell-13] var(--cell-size)
          [cell-14] var(--cell-size)
          [cell-15] var(--cell-size)
          [cell-16] var(--cell-size)
          [cell-17] var(--cell-size);
}

.just-grid-cell {
  width: 100%;
  height: 100%;
}
@for $col from 1 to $cellCount + 1 {
  @for $row from 1 to $cellCount + 1 {
    .just-grid-cell-#{$col}-#{$row} {
      grid-column: cell-#{$col};
      grid-row: cell-#{$row};
    }
  }
}
