.mint-portrait {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: revert;
  overflow: hidden;

  .mint-content {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mint-bottom {
    display: none;
  }

  .description {
    width: 100%;

    .description-bar {
      display: flex;
      flex-direction: row;

      .description-block {
        width: 50%;
        position: relative;

        table {
          tbody {
            display: none;
            position: absolute;

            :focus {
              display: flex;
            }
          }
        }

        .mint-socials {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }

  .unicorn {
    display: none;
  }

  .star {
    top: 0;
    right: 0;
    transform: scaleX(-1);
    height: 25vh;
  }

  .just-preview {
    max-height: 50vh;
    margin: 1em auto;
    padding: 1em;
    width: 90%;
  }

  .gurt {
    margin: 0.5em 1em;
    height: 2em;
    display: flex;
  }

  .intro {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .gurt-container {
    margin-bottom: 1.5em;
  }

  .greetings {
    margin-bottom: 0.5em;
  }

  .pointer-wow-container {
    display: none;
  }

  .description .price-first-free {
    display: none;
  }

}

