@import "Basics";
@import "include-media/dist/_include-media";

.preview {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .preview-content {
    height: calc(100vh - 69px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  .preview-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .just-preview {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .just-random-frame-toolbar-text {
    display: none;
  }

  .preview-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.preview-landscape {
  .preview-content {
    display: flex;
    flex-direction: row;
  }

  .preview-description {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .gurt {
    margin: 1em 2em;
    height: 3em;
    display: flex;
  }


  .preview-actions {
    width: 25%;
  }

  .preview-wow {
    width: 50%;
    height: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .unicorn {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 35vh;
    transform: translate(-20%, 20%);
  }

  .polihorseman {
    position: fixed;
    z-index: 0;
    bottom: 0;
    right: 0;
    height: 40vh;
    transform: translate(18%, -5%) scaleX(-1);
  }
}

.preview-portrait {
  .preview-content {
    display: flex;
    flex-direction: column;
  }

  .preview-description {
    height: 25%;
    display: flex;
    flex-direction: row;

    .gurt {
      margin: 0.5em 1em;
      height: 2em;
      display: flex;
    }

  }

  .preview-actions {
    height: 25%;
  }

  .preview-wow {
    height: 50%;
    width: 100%;
    padding: 1em;
  }

  .unicorn {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 25vh;
    transform: translate(-20%, 20%);
  }

  .polihorseman {
    position: fixed;
    z-index: 0;
    bottom: 0;
    right: 0;
    height: 40vw;
    transform: translate(18%, -5%) scaleX(-1);
  }

  .section__header{
    display: none;
  }
}


.pointer-wow-container {
  display: none;
}
