@import "Basics";

.wow-render-2-overlay {
  z-index: 100005;
  position: absolute;
  width: var(--size);
  height: var(--size);
  --container-size: calc(var(--size) / 16);
  --image-size: calc(var(--size) / 8);
  animation: var(--animation-length) show-overlay-at-the-end linear infinite;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.77);
}

.wow-render-2-overlay-small-imgs {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--size);
  height: var(--size);
  --container-size: calc(var(--size) / 16);
  --image-size: calc(var(--size) / 8);
}

.wow-render-2-overlay-img-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.wow-render-2-overlay-img-overlay-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wow-render-2-overlay-img-1-1 {
  top: 25%;
  left: 25%;
}

.wow-render-2-overlay-img-1-2 {
  top: 25%;
  left: 75%;
}

.wow-render-2-overlay-img-2-1 {
  top: 75%;
  left: 25%;
}

.wow-render-2-overlay-img-2-2 {
  top: 75%;
  left: 75%;
}

.wow-render-2-overlay-img {
  position: absolute;
  width: var(--image-size);
  height: var(--image-size);
  transform: translate(-50%, -50%);
}

.wow-render-2-overlay-big-img {
  z-index: 1000;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
}


@keyframes show-overlay-at-the-end {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.00000001% {
    opacity: 1;
  }
}
