@use "sass:math";
@import "Basics";

.wow {
  background: $background;
  user-select: none;
  width: var(--wow-size);
  height: var(--wow-size);
  box-sizing: border-box;
  --chess-color-1: $blue;
  --chess-color-2: $pink;
  --animation-length: 2000ms;
  --animation-phase: calc(var(--animation-length) / 4);
  --animation-delay-multiplier: 5;
}

$cellCount: 8;
.wow-scene-grid {
  display: grid;
  --cell-size: calc(var(--wow-scene-size) / 8 - #{$borderWidth});
  --image-size: calc(var(--wow-scene-size) / 8);
  width: var(--wow-scene-size);
  height: var(--wow-scene-size);
  grid-template-columns:
          [cell-1] var(--cell-size)
          [cell-2] var(--cell-size)
          [cell-3] var(--cell-size)
          [cell-4] var(--cell-size)
          [cell-5] var(--cell-size)
          [cell-6] var(--cell-size)
          [cell-7] var(--cell-size)
          [cell-8] var(--cell-size);
  grid-template-rows:
          [cell-1] var(--cell-size)
          [cell-2] var(--cell-size)
          [cell-3] var(--cell-size)
          [cell-4] var(--cell-size)
          [cell-5] var(--cell-size)
          [cell-6] var(--cell-size)
          [cell-7] var(--cell-size)
          [cell-8] var(--cell-size);
  grid-gap: #{$borderWidth};
  background: $accent;
  position: relative;
}

.image-rescale {
  --image-size-2: calc(var(--wow-scene-size) / 8 * 2);
  --image-size-3: calc(var(--wow-scene-size) / 8 * 3);
  --image-size-4: calc(var(--wow-scene-size) / 8 * 4);
  --image-size-5: calc(var(--wow-scene-size) / 8 * 5);
  --image-size-6: calc(var(--wow-scene-size) / 8 * 6);
  --image-size-7: calc(var(--wow-scene-size) / 8 * 7);
  --image-pos-left-small: calc(var(--image-size) / 18.3 * -1);
  --image-pos-top-small: calc(var(--image-size) / 25.6 * -1);
  --image-pos-right-small: calc(var(--image-size) / 18.3);
  --image-pos-bottom-small: calc(var(--image-size) / 25.6);
  --image-pos-left-big: calc(var(--image-pos-left-small) * 3);
  --image-pos-top-big: calc(var(--image-pos-top-small) * 3);
  --image-pos-right-big: calc(var(--image-pos-right-small) * 3);
  --image-pos-bottom-big: calc(var(--image-pos-bottom-small) * 3);
  --image-shift-1: calc(var(--image-size) / 7);
  --image-shift-2: calc(var(--image-size) / 10);
  --image-shift-3: calc(var(--image-size) / -7);
  --image-shift-4: calc(var(--image-size) / 12);
  --image-shift-left-small-1: calc(var(--image-size) / -30);
  --image-shift-left-small-2: calc(var(--image-size) / -25);
  --image-shift-right-small-1: calc(var(--image-size) / 30);
  --image-shift-right-small-2: calc(var(--image-size) / 25);
  --image-shift-top-small-1: calc(var(--image-size) / -60);
  --image-shift-top-small-2: calc(var(--image-size) / -40);
  --image-shift-bottom-small-1: calc(var(--image-size) / 60);
  --image-shift-bottom-small-2: calc(var(--image-size) / 40);
}

.wow-scene-grid-cell {
  background: $background;
  overflow: hidden;
  box-sizing: border-box;
}
